<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>{{title}}</title>
</head>
<body>
    <hr>
    <header>{% block content %}{% endblock %}</header>

    <main>
        <form action="/" method="POST">
            <label for="password_length">Enter password length: </label>
            <input type="number" name="password_length" id="password_length" min="1" value="1">

            <input type="submit" value="Submit">

        </form>
    </main>
    
</body>
</html>