<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/passwords">Passwords</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <ol>
            {%for password in passwords%}
                <li>
                    <p><span>{{password.password}}</span></p>
                </li>

            {%endfor%}
        </ol>
    </main>
    
</body>
</html>