<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=head, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="tic_tac_toe.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'syles.css')}}">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
    </header>
    <main>
        <section >  
            <ul id="button-display">    
                <button class="button-layout">
                    <p class="text-layout">{{player_input}}</p>
                </button>
                <button class="button-layout"></button>
                <button class="button-layout"></button>
                <button class="button-layout"></button>
                <button class="button-layout"></button>
                <button class="button-layout"></button>
                <button class="button-layout"></button>
                <button class="button-layout"></button>
                <button class="button-layout"></button>
            </ul>  
            <h3>{{player_turn}}</h3>
        </section>
        
    </main>
    <footer>

    </footer>
</body>
</html>