<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <main>
        <form action="/welcome-screen" method="POST">
            <label for="sumbit_button">Would you like to play a game?</label>
            <input type="submit" name="submit_button" id="submit_button" value="Yes">
            <input type="submit" name="submit_button" id="submit_button" value="No">
        </form>
    </main>
</body>
</html>