#button-display{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.button-layout{    
    height: 200px;
    width: 200px;
    flex: 1 0 33%;
    margin: 1px;
}


.text-layout{
    font-size: 100px;
    margin-top: 50px;
}